<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-title>Follower Statistics</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <!-- When content isn't available' -->
  <div class="page-loading" *ngIf="accounts.statsLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- Chart -->
  <div class="row">
      <div style="display: block; width:100%;">
      <canvas #canvas height="400" style='width:100%'></canvas>
      </div>
  </div>

  <!-- Display Stats in Table View -->
  <ion-grid *ngIf="accounts.activeAccountStats">
    <ion-row>
      <ion-col><b>Date</b></ion-col>
      <ion-col><b># Followers</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let record of accounts.activeAccountStats">
      <ion-col>{{ record.record_date }}</ion-col>
      <ion-col>{{ record.record_follower_count }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>