<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-buttons right *ngIf="accounts.activeAccount">
      <button ion-button icon-right menuToggle="right">
        @{{ accounts.activeAccount.user_name }} 
        <img style='width:25px; height:25px;
        margin-left:5px;
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px' 
          src="{{ accounts.activeAccount.user_profile_pic }}"/> 
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar text-center>
    <h3>Media Statistics</h3>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <!-- When content isn't available' -->
  <div class="page-loading" *ngIf="accounts.statsLoading">
    <img src='assets/brand/loader.gif'>
  </div>  

  <!-- Chart -->
  <div class="row">
      <div style="display: block;">
      <canvas #canvas width="400" height="400"></canvas>
      </div>
  </div>

  <!-- Display Stats in Table View -->
  <ion-grid *ngIf="accounts.activeAccountStats">
    <ion-row>
      <ion-col><b>Date</b></ion-col>
      <ion-col><b># Posts</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let record of accounts.activeAccountStats">
      <ion-col>{{ record.record_date | date }}</ion-col>
      <ion-col>{{ record.record_media_count }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>