
<ion-content class='contentArea' padding>
  <div class='brand'>
    <img src="assets/brand/logo.png" />
  </div>

  <ion-card class='loginCard'>

    <ion-card-content class='authArea'>
      <!-- Mobile (Native) -->
      <div *ngIf="!keyboard.isKeyboardOpen && !isPWA">
        <button (click)="authorizeVia('Google')"
        class='addspace' ion-button icon-left block color="google">
          <ion-icon name="logo-googleplus"></ion-icon>
          Log in with Google
        </button>

        <button (click)="authorizeVia('Live')"
        ion-button icon-left block>
          <ion-icon name="logo-windows"></ion-icon>
          Log in with Live
        </button>

        <button (click)="authorizeVia('Slack')"
        ion-button block color="dark">
          <i class="fa fa-slack" aria-hidden="true"></i>
          <span style='margin-left:5px;'>Log in with Slack</span>
        </button>

        <span class="or-wrapper">
          <span class="or-text">or</span>
        </span>
      </div>
      <!-- Mobile (Desktop/Core) -->
      <div *ngIf="!keyboard.isKeyboardOpen && isPWA">
        <a href="https://agent.plugn.io/auth/google"
          class='addspace' ion-button icon-left block color="google">
          <ion-icon name="logo-googleplus"></ion-icon>
          Log in with Google
        </a>

        <a href="https://agent.plugn.io/auth/live"
          ion-button icon-left block>
          <ion-icon name="logo-windows"></ion-icon>
          Log in with Live
        </a>

        <a href="https://agent.plugn.io/auth/slack"
          ion-button block color="dark">
          <i class="fa fa-slack" aria-hidden="true"></i>
          <span style='margin-left:5px;'>Log in with Slack</span>
        </a>

        <span class="or-wrapper">
          <span class="or-text">or</span>
        </span>
      </div>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="classicInput" novalidate>

        <input type="email" #emailInput
          formControlName="email"
          placeholder="Your Email Address"/>

        <input type="password" #passwordInput
          formControlName="password"
          placeholder="Your Password"/>

        <div text-center>
          <button ion-button block outline color="dark" type="submit" 
            [disabled]="!loginForm.valid || isLoading || 
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)"
            [style.background-color]="!loginForm.valid || isLoading || 
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)? 'white':'black'"
            [style.color]="!loginForm.valid || isLoading || 
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)?'black':'white'">
            
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Sign in</span>

          </button>

          <button type="button" ion-button small clear 
            *ngIf="!keyboard.isKeyboardOpen" 
            (click)="loadForgotPasswordPage()" >
            Forgot password?
          </button>
        </div>

      </form>
      <!-- END Login Form -->

    </ion-card-content>
    
  </ion-card>

  

</ion-content>

<ion-footer *ngIf="!keyboard.isKeyboardOpen" (click)="loadSignupPage()">
  <ion-toolbar>
    Don't have an account? <span>Sign up.</span>
  </ion-toolbar>
</ion-footer>