comment {
    .username{font-size:0.9em; margin-bottom:5px;}
    .message{font-size:1.1em;}
    ion-note {
        font-size: 12px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .status{
        margin-top:20px;
        text-align:right;
        
        ion-spinner {
            width: 15px;
            height: 15px;
            //stroke: #444;
            //fill: #222;
        }
    }


    // Different Comment Status Styling
    .queued{background: #ffffe0}
    .deleted{
        background: #feecec;
        
        .status{color: #8b0000;}
    }
    .unhandled{
        background: #fff;

        .message{font-weight:500; color:#000;}
    }
    .handled{
        background: #f4f4f4;

        .status{font-size:0.7em;}
    }

    
}
