<!-- Sliding Item -->
<ion-item-sliding (press)="copyToClipboard()" (tap)="notifyOptions()">

  <!-- The Ion Item -->
  <ion-item text-wrap
    [class.queued]="comment.commentType == 'queue'"
    [class.handled]="(comment.comment_handled == '1') && (comment.comment_deleted == '0') && (comment.commentType != 'queue')"
    [class.unhandled]="(comment.comment_handled != '1') && (comment.comment_deleted == '0') && (comment.commentType != 'queue')"
    [class.deleted]="(comment.comment_deleted != '0') && (comment.commentType != 'queue')"> <!-- 1 if deleted, 2 if queued for deletion -->

    <ion-avatar item-left>
      <img src="{{ comment.comment_by_photo }}" onError="this.src='assets/user.png';">
    </ion-avatar>

    <h3 class='elipse'>{{ comment.agent_name? comment.agent_name : comment.comment_by_fullname }}</h3>
    <p class='username'>@{{ comment.comment_by_username }}</p>
    <p class="message">
      {{ comment.comment_text }}
    </p>

    <!-- If Comment Queued for Posting -->
    <p class="status" *ngIf="comment.commentType == 'queue'">
      <ion-spinner></ion-spinner> Queued to be posted by {{ comment.agent_name }}
    </p>

    <!-- If Comment is Deleted -->
    <p class="status" *ngIf="comment.comment_deleted == '1'">
      <ion-icon name="trash"></ion-icon> 
      {{ comment.deleter_name? 
            "Deleted by "+comment.deleter_name : "Deleted via Instagram" }}
    </p>

    <!-- If Comment is Queued to be Deleted -->
    <p class="status" *ngIf="comment.comment_deleted == '2'">
      <ion-spinner></ion-spinner> Queued to be deleted
    </p>

    <!-- If Comment is Handled and not Deleted -->
    <p class="status" 
      *ngIf="(comment.comment_by_id != accounts.activeAccount?.user_instagram_id) &&
        (comment.comment_handled == '1') && (comment.comment_deleted == '0') && (comment.commentType != 'queue')">
      Handled by {{ comment.handler_name }}
    </p>

    <ion-note item-right>{{ comment.comment_datetime }}</ion-note>
  </ion-item>

  <!-- Right Sliding Options -->
  <ion-item-options side="right">
    <button ion-button color="danger" *ngIf="comment.commentType != 'queue'">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>