<ion-header>
  <ion-navbar>
    <ion-title>Media</ion-title>

    <ion-buttons right>
      <button ion-button (click)="markMediaHandled()" [disabled]="handleLoading"
        icon-left solid color="primary">
        <!-- Show icon by default -->
        <ion-icon name="checkmark-circle-outline" *ngIf="!handleLoading"></ion-icon>
        <!-- Show Loading Spinner if being submitted -->
        <ion-spinner *ngIf="handleLoading"></ion-spinner>

        Handled
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
      <ion-grid>
        <ion-row>
          <ion-col width-20>
            <img src='{{ activeMedia.image.thumb }}' onError="this.src='assets/user.png';"
             style="width:50px; height:50px;">
          </ion-col>
          <ion-col style="height: 4em; overflow: hidden;">
              {{ activeMedia.caption }}
          </ion-col>
          <ion-col width-20>
            <ion-icon name="heart"></ion-icon> {{ activeMedia.numLikes }} <br/>
            <ion-icon name="chatbubbles"></ion-icon> {{ activeMedia.numComments }}
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content #contentArea>

  <!-- When content isn't available, Show Loading -->
  <div class="page-loading" *ngIf="isLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- When content available -->
  <div *ngIf="!isLoading">
    <ion-list class='commentList' no-lines
      [class.addKeyboardMargin] = "addKeyboardMargin">

      <!-- Comment List Rendered -->
      <div *ngFor="let comment of mediaComments">
        <comment [value]="comment" type="media"></comment>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer [keyboardAttach]="contentArea">
  <!-- Comment Box Toolbar -->
  <ion-toolbar>
    
    <ion-textarea autosize 
      class="commentInput"
      [formControl]="commentInputControl" rows="1" 
      placeholder="Comment as {{ accounts.activeAccount.user_name }}...">
    </ion-textarea>

    <ion-buttons right>
      <button ion-button icon-only
        type="submit" 
        (click)="onCommentSubmit()"
        [disabled]="!commentInputControl.valid || isCommentSubmitting">

        <!-- Show Loading button by default -->
        <span *ngIf="!isCommentSubmitting">
          <ion-icon name="send"></ion-icon>
        </span>
        <!-- Show Loading Spinner if comment being submitted -->
        <ion-spinner *ngIf="isCommentSubmitting"></ion-spinner>

      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>