<ion-header>
  <ion-navbar>
    <ion-title>{{ activeMedia.comment_by_fullname }}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="markMediaHandled()" [disabled]="handleLoading"
        icon-left solid color="primary">
        <!-- Show icon by default -->
        <ion-icon name="checkmark-circle-outline" *ngIf="!handleLoading"></ion-icon>
        <!-- Show Loading Spinner if being submitted -->
        <ion-spinner *ngIf="handleLoading"></ion-spinner>

        Mark Handled
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #contentArea>

  <!-- When content isn't available, Show Loading -->
  <div class="page-loading" *ngIf="isLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- When content available -->
  <div *ngIf="!isLoading">
    <ion-list class='commentList' no-lines
      [class.addKeyboardMargin] = "addKeyboardMargin">

      <!-- Comment List Rendered -->
      <div *ngFor="let comment of conversationComments">
        <comment [value]="comment"></comment>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer [keyboardAttach]="contentArea">
  <!-- Comment Box Toolbar -->
  <ion-toolbar>
    <ion-buttons left>
      <ion-chip>
        <ion-avatar>
          <img src="{{ activeMedia.comment_by_photo }}" onError="this.src='assets/user.png';">
        </ion-avatar>
        <ion-label>@{{ activeMedia.comment_by_username }}</ion-label>
      </ion-chip>
    </ion-buttons>
    
    <ion-textarea autosize 
      class="commentInput"
      [formControl]="commentInputControl" rows="1" 
      placeholder="Comment as {{ accounts.activeAccount.user_name }}...">
    </ion-textarea>

    <ion-buttons right>
      <button ion-button icon-only
        type="submit" 
        (click)="onCommentSubmit()"
        [disabled]="!commentInputControl.valid || isCommentSubmitting">

        <!-- Show Loading button by default -->
        <span *ngIf="!isCommentSubmitting">
          <ion-icon name="send"></ion-icon>
        </span>
        <!-- Show Loading Spinner if comment being submitted -->
        <ion-spinner *ngIf="isCommentSubmitting"></ion-spinner>

      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>