page-agents {
    ion-note {
        font-size: 12px;
        margin-top: 14px;
    }

    .elipse{
        font-weight:bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
