page-account-tabs {
    .tabs-ios .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
        color:black;
    }

    .tabs-md .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
        color: black;
    }
    .tabs-wp .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
        color: black;
    }
}
