<!-- Menu Left -->
<ion-menu #menuLeft side="left" type="overlay" [content]="loggedInContent">
  <ion-header>
    <ion-toolbar text-center style="height:auto;">
      <img margin style='height:45px;' src="assets/brand/logo-dark.png" />
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <ion-list-header>Managed Accounts</ion-list-header>

      <div *ngIf="accounts.managedAccounts">
        <button ion-item *ngFor="let account of accounts.managedAccounts" (click)="loadInstagramAccount(account); menuLeft.close();">
          <ion-avatar item-left>
            <img src="{{ account.user_profile_pic }}" onError="this.src='assets/user.png';">
          </ion-avatar>
          @{{ account.user_name }}
          <ion-badge item-right color="danger" *ngIf="account.unhandledCount > 0">
            {{ account.unhandledCount }}
          </ion-badge>
        </button>
      </div>

      <button ion-item (click)="loadAddAccountPage()">
        <ion-avatar item-left>
          <img src="assets/insta-logo.png">
        </ion-avatar>
        Add Instagram Account
      </button>
    </ion-list>
    

    <ion-list>
      <ion-list-header>Personal</ion-list-header>

      <button ion-item (click)="loadMyActivityPage()">
        <ion-icon name="ios-analytics" item-left></ion-icon>
        My Activity
      </button>
      <button ion-item (click)="loadUrl('http://plugn.io/contact')">
        <ion-icon name="help-circle" item-left></ion-icon>
        Help and Support
      </button>
      <!--
      <button ion-item (click)="openPage(2)">
        <ion-icon name="ios-settings" item-left></ion-icon>
        Settings
      </button>
      -->
      <button ion-item (click)="logout()">
        <ion-icon name="ios-log-out" item-left></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<!-- Menu Right -->
<ion-menu #menuRight *ngIf="accounts.activeAccount"
  side="right" type="overlay" [content]="loggedInContent">
  <ion-header>
    <ion-toolbar text-center style="height:auto;">
      <img margin style='width:100px; height:100px;
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px' 
          src="{{ accounts.activeAccount.user_profile_pic }}"
          onError="this.src='assets/user.png';"> 
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-card class="statCount" (click)="openStatisticsPage('followers')">
      <div class="number">{{ accounts.activeAccount.user_follower_count }}</div>
      <ion-icon class='main' name="people"></ion-icon>
      <div class='card-title'>
        Followers
      </div>
      <ion-icon class='forward' name="ios-arrow-forward"></ion-icon>
    </ion-card>

    <ion-card class="statCount" (click)="openStatisticsPage('following')">
      <div class="number">{{ accounts.activeAccount.user_following_count }}</div>
      <ion-icon class='main' name="walk"></ion-icon>
      <div class='card-title'>
        Following
      </div>
      <ion-icon class='forward' name="ios-arrow-forward"></ion-icon>
    </ion-card>

    <ion-card class="statCount" (click)="openStatisticsPage('media-stats')">
      <div class="number">{{ accounts.activeAccount.user_media_count }}</div>
      <ion-icon class='main' name="images"></ion-icon>
      <div class='card-title'>
        Media
      </div>
      <ion-icon class='forward' name="ios-arrow-forward"></ion-icon>
    </ion-card>

    <ion-card class="statCount" (click)="openStatisticsPage('agent-activity')">
      <div class="number">{{ accounts.activeAccount.lastAgentActivity }}</div>
      <ion-icon class='main' name="pulse"></ion-icon>
      <div class='card-title'>
        Last Agent Activity
      </div>
      <ion-icon class='forward' name="ios-arrow-forward"></ion-icon>
    </ion-card>

  </ion-content>
  <ion-footer padding>
      <button ion-button block outline (click)="menuRight.close();menuLeft.open();" color="dark">
        Switch Account
      </button>
    </ion-footer>
</ion-menu>

<ion-nav #loggedInContent 
  swipeBackEnabled="true"
  [root]="rootPage"></ion-nav>