page-navigation {
    // Menu
    // --------------------------------------------------

    $menu-width-right:                 304px !default;
    $menu-small-right-width:           $menu-width-right - 40px !default;

    ion-menu[side=right] > .menu-inner {
      width: $menu-width-right;
    }

    @media (max-width: 340px) {
      .menu-inner {
        width: $menu-small-right-width;
      }
    }

    // Card for Stat Count Design
    ion-card.statCount{
      position:relative; 
      cursor:pointer;
      height:80px;

      .number{
        position:absolute; 
        top:17%; left:10%; 
        font-size:1.4em; 
        font-weight: bold;
      }

      .card-title{
        position:absolute;
        top:50%; left:10%;
        font-size:1.1em; 
      }

      ion-icon.main{
        color:black;
        position:absolute;
        font-size:2.3em; 
        right:5%;
        top:5%;
      }

      ion-icon.forward{
        color:lightgrey;
        position:absolute;
        font-size:2.1em;
        right:5%;
        bottom: 5%;
      }
    }
}
