// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.classicInput{
    input{
        width: 100%;
        padding: .375em .75em;
        line-height: 1.5;
        background-color: #fff;
        background-image: none;
        border: 1px solid rgba(197,214,222,.7);
        -webkit-border-radius: .25rem;
        border-radius: .25rem;

        margin-bottom: 12px;
        font-size:1.1em;

        &.ng-touched.ng-dirty.ng-invalid{
            border: 1px solid #fa424a;
        }
    }
   
    input:focus{
        border: 1px solid #ccc;
    }
}