<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="gotoLogin()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">

    <!-- Loop Through Multiple Slides -->
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>

    <!-- The Final Slide -->
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">4th slide title</h2>
      <button ion-button icon-right large clear (click)="gotoLogin()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-content>
