<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-buttons right *ngIf="accounts.activeAccount">
      <button ion-button icon-right menuToggle="right">
        @{{ accounts.activeAccount.user_name }} 
        <img style='width:25px; height:25px;
        margin-left:5px;
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px' 
          src="{{ accounts.activeAccount.user_profile_pic }}"/> 
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar text-center>
    <h3>Agent Activity</h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- When content isn't available, Show Loading -->
  <div class="page-loading" *ngIf="isLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- If no activity on this account yet -->
  <h3 *ngIf="!isLoading && !accountActivity">No activity on this account yet</h3>

  <!-- Activity Available and Loaded -->
  <ion-list *ngIf="!isLoading && accountActivity">
    <ion-item text-wrap *ngFor="let activity of accountActivity">
      <h3 class='elipse'>{{ activity.agent }}</h3>
      <p>{{ activity.action }}</p>

      <ion-note>{{ activity.datetime }}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>