<ion-header>
  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='contentArea' padding>

  <ion-card class='loginCard'>

    <ion-card-content class='authArea'>
      <div *ngIf="!keyboard.isKeyboardOpen">
        <button (click)="authorizeVia('Google')"
        class='addspace' ion-button icon-left block color="google">
          <ion-icon name="logo-googleplus"></ion-icon>
          Sign up with Google
        </button>

        <button (click)="authorizeVia('Live')"
        ion-button icon-left block>
          <ion-icon name="logo-windows"></ion-icon>
          Sign up with Live
        </button>

        <button (click)="authorizeVia('Slack')"
        ion-button block color="dark">
          <i class="fa fa-slack" aria-hidden="true"></i>
          <span style='margin-left:5px;'>Sign up with Slack</span>
        </button>

        <span class="or-wrapper">
          <span class="or-text">or</span>
        </span>
      </div>

      <!-- Signup Form -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="classicInput" novalidate>

        <input type="text"
          formControlName="fullname"
          placeholder="Your Full Name"/>

        <input type="email"
          formControlName="email"
          placeholder="Your Email Address"/>

        <input type="password"
          formControlName="password"
          placeholder="Your Password"/>

        <div text-center>
          <button ion-button block outline color="dark" type="submit" 
            [disabled]="!signupForm.valid || isLoading"
            [style.background-color]="!signupForm.valid || isLoading ? 'white':'black'"
            [style.color]="!signupForm.valid || isLoading ? 'black':'white'">
            
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Create Account</span>

          </button>
        </div>

      </form>
      <!-- END Signup Form -->

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer *ngIf="!keyboard.isKeyboardOpen" (click)="loadLoginPage()">
  <ion-toolbar>
    Already have an account? <span>Sign in.</span>
  </ion-toolbar>
</ion-footer>