<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-title>My Activity</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- When content isn't available, Show Loading -->
  <div class="page-loading" *ngIf="isLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- Activity Available and Loaded -->
  <ion-list *ngIf="!isLoading && myActivity">
    <ion-item text-wrap *ngFor="let activity of myActivity">
      <h3 class='elipse'>{{ activity.agent }}</h3>
      <h4>on @{{ activity.account }}</h4>

      <p>{{ activity.action }}</p>

      <ion-note>{{ activity.datetime }}</ion-note>
    </ion-item>
  </ion-list>

  <!-- If no activity on this account yet -->
  <h3 *ngIf="!isLoading && !myActivity.length" style='text-align:center;'>
    Seems like this is a brand new account. You haven't had any activity on any account.
  </h3>

</ion-content>