page-forgot-password {

    .title{margin-bottom:15px;}

    .loginCard{
        max-width:350px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentArea{
        background: #eceff4;
    }
}
