<ion-header>
  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='contentArea' padding>

  

  <ion-card class='loginCard'>
    <ion-card-content>

      <h4 class='title'>
        Please fill out your email. A link to reset password will be sent there.
      </h4>

      <!-- Login Form -->
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="classicInput" novalidate>

        <input type="email"
          formControlName="email"
          placeholder="Your Email Address"/>


        <div text-center>
          <button ion-button block outline color="dark" type="submit" 
            [disabled]="!resetForm.valid || isLoading"
            [style.background-color]="!resetForm.valid || isLoading ? 'white':'black'"
            [style.color]="!resetForm.valid || isLoading ?'black':'white'">
            
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Send</span>

          </button>
        </div>

      </form>
      <!-- END Password Reset Form -->

    </ion-card-content>
  </ion-card>

</ion-content>