<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-buttons right *ngIf="accounts.activeAccount">
      <button ion-button icon-right menuToggle="right">
        @{{ accounts.activeAccount.user_name }} 
        <img style='width:25px; height:25px;
        margin-left:5px;
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px' 
          src="{{ accounts.activeAccount.user_profile_pic }}"/> 
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

  <!-- Swipe to Refresh -->
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="media.mediaList">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- When content isn't available' -->
  <div class="page-loading" *ngIf="media.isLoading && !media.refresherLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- When content available -->
  <div *ngIf="!media.isLoading || media.refresherLoading">

    <!-- Display Message if No Conversations -->
    <h3 padding text-center align-center 
      *ngIf="media.mediaList && media.mediaList.length == 0">
      There seems to be no media posted on your account
    </h3>

    <!-- Unhandled Media -->
    <ion-list class="unhandled" *ngIf="media.unhandledMedia && media.unhandledMedia.length > 0">
      <ion-list-header>
        Unhandled Media
      </ion-list-header>

      <button ion-item 
        *ngFor="let mediaItem of media.unhandledMedia"
        (click)="loadMediaDetail(mediaItem)">

        <ion-thumbnail item-left>
          <img src="{{ mediaItem.image.thumb }}" onError="this.src='assets/deleted.png';">
        </ion-thumbnail>

        <h3 class='elipse'>{{ mediaItem.caption }}</h3>
        <p>{{ mediaItem.numComments }} Comments - {{ mediaItem.numLikes }} Likes</p>
        <p>{{ mediaItem.datePosted }}</p>

        <ion-badge item-right color="danger">{{ mediaItem.numCommentsUnhandled }}</ion-badge>
      </button>

    </ion-list>

    <!-- Media -->
    <ion-list *ngIf="media.handledMedia && media.handledMedia.length > 0">
      <ion-list-header>
        Media
      </ion-list-header>

      <button ion-item 
        *ngFor="let mediaItem of media.handledMedia;trackBy:mediaItem?.media_id"
        (click)="loadMediaDetail(mediaItem)">
        <ion-thumbnail item-left>
          <img src="{{ mediaItem.image.thumb }}" onError="this.src='assets/deleted.png';">
        </ion-thumbnail>

        <h3 class='elipse'>{{ mediaItem.caption }}</h3>
        <p>{{ mediaItem.numComments }} Comments - {{ mediaItem.numLikes }} Likes</p>
        <p>{{ mediaItem.datePosted }}</p>
      </button>

    </ion-list>
  </div>

</ion-content>
