<ion-header>
  <ion-navbar>

    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <img menuToggle="left" left style='width:25px; height:25px; float:left;' src="assets/brand/icon.png" />

    <ion-buttons right *ngIf="accounts.activeAccount">
      <button ion-button icon-right menuToggle="right">
        @{{ accounts.activeAccount.user_name }}
        <img style='width:25px; height:25px;
        margin-left:5px;
        border-radius: 200px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px'
          src="{{ accounts.activeAccount.user_profile_pic }}"/>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

  <!-- Swipe to Refresh -->
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="media.mediaList">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- When content isn't available' -->
  <div class="page-loading" *ngIf="media.isLoading && !media.refresherLoading">
    <img src='assets/brand/loader.gif'>
  </div>

  <!-- When content available -->
  <div *ngIf="!media.isLoading || media.refresherLoading">

    <!-- Display Instagram Access Token Expired Message -->
    <div padding *ngIf="accounts.activeAccount?.user_status == 30" style='text-align:center;'>
      <ion-icon style='font-size:3em;' name="build"></ion-icon>
      <h2 style='margin-top:0;'>Fix Account Access</h2>
      <p>There's a slight problem connecting to your Instagram account.
        Don't worry though, it's very quick to fix.
      </p>
      <p *ngIf="!accounts.isActiveAccountAdmin">
        All you need to do is ask the Admin of @{{ accounts.activeAccount.user_name }} to reconnect 
        their Instagram account.
      </p>
      <p *ngIf="accounts.isActiveAccountAdmin">
        All you need to do is reconnect your Instagram account.
      </p>

      <button ion-button *ngIf="accounts.isActiveAccountAdmin" (click)="loadUrl('instagram')">
        Reconnect @{{ accounts.activeAccount.user_name }}
      </button>
    </div>

    <!-- Display Billing Expired Message -->
    <div *ngIf="accounts.activeAccount?.user_status == 25" style='text-align:center; padding-top:2em;'>
      <ion-icon style='font-size:3em;' name="ios-card-outline"></ion-icon>
      <h2 style='margin-top:0;'>Subscription Expired</h2>
      <p *ngIf="!accounts.isActiveAccountAdmin">
        Subscription has expired for the admin of @{{ accounts.activeAccount.user_name }}.
        You'll regain access once its admin subscribes.
      </p>
      <p *ngIf="accounts.isActiveAccountAdmin">
        Your subscription as an admin has expired.
        Subscribe now to keep using Plugn on @{{ accounts.activeAccount.user_name }}.
      </p>
      <button ion-button *ngIf="accounts.isActiveAccountAdmin"
        (click)="loadUrl('billing')">
        Subscribe
      </button>
    </div>

    <!-- Display Message if No Conversations -->
    <h3 padding text-center align-center
      *ngIf="(accounts.activeAccount?.user_status == 10) && media.mediaList && media.mediaList.length == 0">
      There seems to be no media posted on your account
    </h3>

    <!-- Unhandled Media -->
    <ion-list class="unhandled" *ngIf="(accounts.activeAccount?.user_status == 10) && media.unhandledMedia && media.unhandledMedia.length > 0">
      <ion-list-header>
        Unhandled Media
      </ion-list-header>

      <button ion-item
        *ngFor="let mediaItem of media.unhandledMedia"
        (click)="loadMediaDetail(mediaItem)">

        <ion-thumbnail item-left>
          <img src="{{ mediaItem.image.thumb }}" onError="this.src='assets/deleted.png';">
        </ion-thumbnail>

        <h3 class='elipse'>{{ mediaItem.caption }}</h3>
        <p>{{ mediaItem.numComments }} Comments - {{ mediaItem.numLikes }} Likes</p>
        <p>{{ mediaItem.datePosted }}</p>

        <ion-badge item-right color="danger">{{ mediaItem.numCommentsUnhandled }}</ion-badge>
      </button>

    </ion-list>

    <!-- Media -->
    <ion-list *ngIf="(accounts.activeAccount?.user_status == 10) && media.handledMedia && media.handledMedia.length > 0">
      <ion-list-header>
        Media
      </ion-list-header>

      <button ion-item
        *ngFor="let mediaItem of media.handledMedia;trackBy:mediaItem?.media_id"
        (click)="loadMediaDetail(mediaItem)">
        <ion-thumbnail item-left>
          <img src="{{ mediaItem.image.thumb }}" onError="this.src='assets/deleted.png';">
        </ion-thumbnail>

        <h3 class='elipse'>{{ mediaItem.caption }}</h3>
        <p>{{ mediaItem.numComments }} Comments - {{ mediaItem.numLikes }} Likes</p>
        <p>{{ mediaItem.datePosted }}</p>
      </button>

    </ion-list>
  </div>

</ion-content>
