page-media {
    .elipse{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .unhandled{
        .elipse{
            font-weight:bold;
        }
    }
}
